/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.container2 {
  background-image: linear-gradient(180deg, #d4d0c2, #74483c);
  color: white;
  font-family: "Lobster", sans-serif;
  min-height: 80vh;
  min-width: 400px;
  margin-left: 5%;
  margin-right: 5%;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: #74483c;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #74483c;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem;
  background: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  color: black;
}

.todo li {
  flex: 1;
}

.complete-btn,
.trash-btn,
.edit-btn {
  background: #74483c;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: #1e4b32;
}
.trash-btn {
  background: #ca7878;
}
.edit-btn {
  background: #b7be96;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check,
.fa-edit {
  pointer-events: none;
}
