.main {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  min-width: 600px;
  margin-left: 10%;

  background-color: #effbfb;
  min-height: 80vh;
}

.btn1 {
  border: 1px solid;
}

.todo1 {
  border-bottom: lightsalmon;
  border-left: lightsalmon;
  margin-top: 8px;
}

.todo {
  align-content: space-around;
}
#todo3 {
  display: block;
  flex-direction: column;
}

.input,
.total {
  margin-bottom: 10px;
}

#input {
  height: 25px;
  padding-top: 4px;
  border-radius: 10px;
  border-color: #2e9afe;
}

.li {
  border: 1px solid;
  text-align: justify;
  height: 30px;
  padding-top: 4px;
  border-radius: 10px;
  border-color: #088a08;
  margin-right: 30px;
}

.li-active {
  color: #fa5858;
}

.li-active .btn1 {
  color: #fa5858;
}

ul {
  list-style-type: none;
}

#btn {
  background-color: #f7fe2e;
  color: #2e9afe;
  border: #0000ff;
  transition: 1s;
  border-radius: 10px;
}

.btn1 {
  background-image: url(img/trash.svg);
  font-display: #df0101;
  border: #df0101;
  color: #ad5555;
  float: right;
  position: static;
}

.todo1 h4 {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: #088a08;
}

.todo h4 {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: #2e9afe;
}
#todo1 {
  font-size: 24px;
}
