.container {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  width: 500px;
  margin-left: 30%;
  background-color: #effbfb;
}

.btn1 {
  border: 1px solid;
}

.todo1 {
  border-bottom: lightsalmon;
  border-left: lightsalmon;
}

#todo {
  align-content: space-around;
}

.input,
.total {
  margin-bottom: 10px;
}

#input {
  height: 25px;
  padding-top: 4px;
  border-radius: 10px;
  border-color: #2e9afe;
}

.li {
  border: 1px solid;
  text-align: justify;
  height: 30px;
  padding-top: 4px;
  border-radius: 10px;
  border-color: #088a08;
  margin-right: 30px;
}

.li-active {
  color: #fa5858;
}

.li-active .btn1 {
  color: #fa5858;
}

ul {
  list-style-type: none;
}

#btn {
  background-color: #f7fe2e;
  color: #2e9afe;
  border: #0000ff;
  transition: 1s;
  border-radius: 10px;
}

.btn1 {
  background-image: url(img/trash.svg);
  font-display: #df0101;
  border: #df0101;
  color: #ad5555;
  float: right;
  position: static;
}

.todo1 h4 {
  margin-inline-end: 10px;
  font-family: "Times New Roman", Times, serif; /* Ð¨Ñ€Ð¸Ñ„Ñ‚ Ñ Ð·Ð°ÑÐµÑ‡ÐºÐ°Ð¼Ð¸ */
  font-style: italic; /* ÐšÑƒÑ€ÑÐ¸Ð²Ð½Ð¾Ðµ Ð½Ð°Ñ‡ÐµÑ€Ñ‚Ð°Ð½Ð¸Ðµ */
  color: #088a08;
}

#todo h4 {
  font-family: "Times New Roman", Times, serif; /* Ð¨Ñ€Ð¸Ñ„Ñ‚ Ñ Ð·Ð°ÑÐµÑ‡ÐºÐ°Ð¼Ð¸ */
  font-style: italic; /* ÐšÑƒÑ€ÑÐ¸Ð²Ð½Ð¾Ðµ Ð½Ð°Ñ‡ÐµÑ€Ñ‚Ð°Ð½Ð¸Ðµ */
  color: #2e9afe;
}
